@font-face {
  font-family: "Umdot11";
  src: url("woff/Umdot11.woff2") format("woff2");
}
@font-face {
  font-family: "Umdot12";
  src: url("woff/Umdot12.woff2") format("woff2");
}
@font-face {
  font-family: "Umdot13";
  src: url("woff/Umdot13.woff2") format("woff2");
}
@font-face {
  font-family: "Umdot14";
  src: url("woff/Umdot14.woff2") format("woff2");
}
@font-face {
  font-family: "Umdot15";
  src: url("woff/Umdot15.woff2") format("woff2");
}
@font-face {
  font-family: "Umdot16";
  src: url("woff/Umdot16.woff2") format("woff2");
}
@font-face {
  font-family: "Umdot17";
  src: url("woff/Umdot17.woff2") format("woff2");
}
@font-face {
  font-family: "Umdot18";
  src: url("woff/Umdot18.woff2") format("woff2");
}
@font-face {
  font-family: "Umdot19";
  src: url("woff/Umdot19.woff2") format("woff2");
}
@font-face {
  font-family: "Umdot20";
  src: url("woff/Umdot20.woff2") format("woff2");
}
@font-face {
  font-family: "Umdot21";
  src: url("woff/Umdot21.woff2") format("woff2");
}
@font-face {
  font-family: "Umdot22";
  src: url("woff/Umdot22.woff2") format("woff2");
}
@font-face {
  font-family: "Umdot23";
  src: url("woff/Umdot23.woff2") format("woff2");
}
@font-face {
  font-family: "Umdot24";
  src: url("woff/Umdot24.woff2") format("woff2");
}
@font-face {
  font-family: "Umdot25";
  src: url("woff/Umdot25.woff2") format("woff2");
}

@font-face {
  font-family: "UmdotMono11";
  src: url("woff/UmdotMono11.woff2") format("woff2");
}
@font-face {
  font-family: "UmdotMono12";
  src: url("woff/UmdotMono12.woff2") format("woff2");
}
@font-face {
  font-family: "UmdotMono13";
  src: url("woff/UmdotMono13.woff2") format("woff2");
}
@font-face {
  font-family: "UmdotMono14";
  src: url("woff/UmdotMono14.woff2") format("woff2");
}
@font-face {
  font-family: "UmdotMono15";
  src: url("woff/UmdotMono15.woff2") format("woff2");
}
@font-face {
  font-family: "UmdotMono16";
  src: url("woff/UmdotMono16.woff2") format("woff2");
}
@font-face {
  font-family: "UmdotMono17";
  src: url("woff/UmdotMono17.woff2") format("woff2");
}
@font-face {
  font-family: "UmdotMono18";
  src: url("woff/UmdotMono18.woff2") format("woff2");
}
@font-face {
  font-family: "UmdotMono19";
  src: url("woff/UmdotMono19.woff2") format("woff2");
}
@font-face {
  font-family: "UmdotMono20";
  src: url("woff/UmdotMono20.woff2") format("woff2");
}
@font-face {
  font-family: "UmdotMono21";
  src: url("woff/UmdotMono21.woff2") format("woff2");
}
@font-face {
  font-family: "UmdotMono22";
  src: url("woff/UmdotMono22.woff2") format("woff2");
}
@font-face {
  font-family: "UmdotMono23";
  src: url("woff/UmdotMono23.woff2") format("woff2");
}
@font-face {
  font-family: "UmdotMono24";
  src: url("woff/UmdotMono24.woff2") format("woff2");
}
@font-face {
  font-family: "UmdotMono25";
  src: url("woff/UmdotMono25.woff2") format("woff2");
}

.umdot11 {
  font-family: "Umdot11", sans-serif;
}
.umdot12 {
  font-family: "Umdot12", sans-serif;
}
.umdot13 {
  font-family: "Umdot13", sans-serif;
}
.umdot14 {
  font-family: "Umdot14", sans-serif;
}
.umdot15 {
  font-family: "Umdot15", sans-serif;
}
.umdot16 {
  font-family: "Umdot16", sans-serif;
}
.umdot17 {
  font-family: "Umdot17", sans-serif;
}
.umdot18 {
  font-family: "Umdot18", sans-serif;
}
.umdot19 {
  font-family: "Umdot19", sans-serif;
}
.umdot20 {
  font-family: "Umdot20", sans-serif;
}
.umdot21 {
  font-family: "Umdot21", sans-serif;
}
.umdot22 {
  font-family: "Umdot22", sans-serif;
}
.umdot23 {
  font-family: "Umdot23", sans-serif;
}
.umdot24 {
  font-family: "Umdot24", sans-serif;
}
.umdot25 {
  font-family: "Umdot25", sans-serif;
}

.umdotmono11 {
  font-family: "UmdotMono11", monospace;
}
.umdotmono12 {
  font-family: "UmdotMono12", monospace;
}
.umdotmono13 {
  font-family: "UmdotMono13", monospace;
}
.umdotmono14 {
  font-family: "UmdotMono14", monospace;
}
.umdotmono15 {
  font-family: "UmdotMono15", monospace;
}
.umdotmono16 {
  font-family: "UmdotMono16", monospace;
}
.umdotmono17 {
  font-family: "UmdotMono17", monospace;
}
.umdotmono18 {
  font-family: "UmdotMono18", monospace;
}
.umdotmono19 {
  font-family: "UmdotMono19", monospace;
}
.umdotmono20 {
  font-family: "UmdotMono20", monospace;
}
.umdotmono21 {
  font-family: "UmdotMono21", monospace;
}
.umdotmono22 {
  font-family: "UmdotMono22", monospace;
}
.umdotmono23 {
  font-family: "UmdotMono23", monospace;
}
.umdotmono24 {
  font-family: "UmdotMono24", monospace;
}
.umdotmono25 {
  font-family: "UmdotMono25", monospace;
}
